.header{
	height: 60px;
	padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 18px 0 rgba(129,162,182,.2);
}
.header .logo{
	display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
.header .logo img{
	width: 70px;
}
.header .logo h1{
	margin: 0 0 0 5px;
    font-size: 24px;
    font-family: 'Righteous', cursive;
}
.header .logo h1 span{
	color: #ea596a;
}